*{
  
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
}

.rectangle{
  height: 1000px;
    background-color: #beb6b6fb;
    align-items: start;
}
h2{
  font-size: 2em;
  color: #0b0b0b;
  text-align: center;
}

.inputbox{
  position: relative;
  right: 300;
  margin: 50px 0;
  width: 310px;
  border-bottom: 2px solid #000000;
}

.Upload-images{
  transform: translate(1200px, 50px);
}
.otherdoc{
    transform: translate(570px, 70px);
}


.inputbox label{
  position: relative;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #0b0000;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: #090101;
}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #0a0101;
  font-size: 1.2em;
  top: 20px;
}

button{
  position: absolute;
  top: 1250px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 50px;
  border-radius: 40px;
  background: #3fd695;
  border: 2px;
  outline-width: 0ch;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
.category{
  position: relative;
  left:25px
  
}
.product-descr{
  position: relative;
  top: 0px;
  left: 30px;
}
.product-descr input{
  position: relative;
  padding: 50px;
  width:500px;
  top: 0px;
  left: 20px;
}
.otherdoc input{
  display: none;
}
.otherdoc label{
  font-size: 24px;
  border: 1px solid black;
  padding: 30px;
  height: 1400px;
  width: 150px;
  border-radius: 6px;
  border: 1px dashed #0b0000;
}
.otherdoc label:hover{
  color: #de0611;
  border: 1px dashed #999;
}

.Upload-images input{
  display: none;
}
.Upload-images label{
  font-size: 24px;
  border: 1px solid black;
  padding: 30px;
  height: 1400px;
  width: 150px;
  border-radius: 6px;
  border: 1px dashed #0b0000;
}
.Upload-images label:hover{
  color: #de0611;
  border: 1px dashed #999;

}